.bg-img{
    height:400px;
    width:100%;
}
.text-img{
    position: absolute;
    left: 300px; 
    bottom: 250px;
    font-size: 3rem;
    font-family: 'Allison', cursive;
    font-weight: 200;
    color: green;
    font-size: 4rem;
    font-weight: bold;
}
.potrait{
    margin-top: 50px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.second{
    text-align: center;
    color: green;
    font-size: 2.2rem;

    
}
.para{
    color: black;
    font-size: 1.2rem;
    text-justify: auto;
    padding-left: 300px;
    padding-right: 300px;

}
.skill-img{
    height: 200px;
    width: 200px;
    float: left;
    margin-right:  30px;
    
    
}
.skill-para{
    float: center;
    font-size: 1.2rem;

    
}
.My{
    color: green;
    margin-top: 100px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 2.2rem;
}
.paras{
    color: green;
    font-size: 1.6rem;
}
.skill1{
    margin-left: 190px;
    margin-right: 190px;
    margin-top: 90px;
    margin-bottom: 200px;
}
.skill-img2{
    height: 200px;
    width: 200px;
    float: left;
    margin-right:  30px;
}
.skill2{
    margin-left: 190px;
    margin-right: 190px;
    margin-top: 90px;
    margin-bottom: 200px;
}
.skill-para2{
    float: center;
    font-size: 1.2rem;

}
.DS{
    color: green;
    font-size: 1.6rem;
}
.contact{
    text-align: center;
    margin-bottom: 100px;
}
.p1{
    color: green;
    font-size: 2.2rem;
    margin-bottom: 4px;
}
.p2{
    color: green;
    font-size: 1.4rem;
}
.p3{
    font-size: 1.2rem;
    margin-bottom: 50px;
}
.btn{
    font-size: 2.3rem;
    background-color: green;
    color: white;
    border: 0;
    padding: 10px;
    border-radius:12px; 
    margin: 0px;

}
.footer{
    background-color: greenyellow;
    height: 180px;
    padding: 50px;
    font-size: 2.2rem;
    
    
    
}
.ftw{
    display: flex;
    justify-content: space-around;
    color: green;
    
}
.last{
    text-align: center;
    color: green;
    font-size: 1.9rem;
    position: relative;
    top: 50px;
}
